* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    color: white;
}

.recipe-menu {
    font-size: 30px;
}

.recipe-description {
    font-size: 20px
}

.web-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.menu-image {
    width: 300px;
    height: 200px;
}